Makefile
autom4te.cache
stamp-h
.dirstamp

doc/texi2pod.pl
doc/wget.pod
doc/wget.1

lib/alloca.h
lib/arg-nonnull.h
lib/arpa
lib/arpa_inet.h
lib/c++defs.h
lib/charset.alias
lib/configmake.h
lib/errno.h
lib/fcntl.h
lib/float.h
lib/fnmatch.h
lib/getopt.h
lib/iconv.h
lib/langinfo.h
lib/locale.h
lib/netdb.h
lib/netinet_in.h
lib/ref-add.sed
lib/ref-del.sed
lib/sched.h
lib/signal.h
lib/spawn.h
lib/stdalign.h
lib/stdbool.h
lib/stddef.h
lib/stdint.h
lib/stdio.h
lib/stdlib.h
lib/string.h
lib/strings.h
lib/sys
lib/sys_ioctl.h
lib/sys_select.h
lib/sys_socket.h
lib/sys_stat.h
lib/sys_time.h
lib/sys_types.h
lib/sys_uio.h
lib/sys_wait.h
lib/time.h
lib/unistd.h
lib/unitypes.h
lib/uniwidth.h
lib/warn-on-use.h
lib/wchar.h
lib/wctype.h

po/POTFILES
po/Makefile.in

src/build_info.c
src/config.h
src/stamp-h1
src/version.c
src/wget
