libraries/**/Makefile
libraries/libapparmor/doc/*.2
libraries/libapparmor/src/af_protos.h
libraries/libapparmor/src/grammar.c
libraries/libapparmor/src/grammar.h
libraries/libapparmor/src/libapparmor.pc
libraries/libapparmor/src/scanner.c
libraries/libapparmor/src/scanner.h
libraries/libapparmor/swig/perl/Makefile.PL
libraries/libapparmor/swig/python/setup.py
libraries/libapparmor/testsuite/test_multi.multi

parser/af_names.h
parser/apparmor_parser
parser/cap_names.h
parser/common
parser/libapparmor_re/parse.cc
parser/parser_lex.c
parser/parser_version.h
parser/parser_yacc.c
parser/parser_yacc.h

profiles/common
