*.so
Makefile
*.pc

/autom4te.cache
/config.h
/extensions/GNUmakefile
/extensions/initext4.c
/extensions/initext6.c
/extensions/matches4.man
/extensions/matches6.man
/extensions/targets4.man
/extensions/targets6.man
/include/iptables/internal.h
/include/xtables.h
/ip6tables-multi
/ip6tables.8
/iptables-multi
/iptables.8
/libiptc/.dirstamp
/stamp-h1