Makefile
.dirstamp

/autom4te.cache
/config.h
/stamp-h1

/conf/plugins/*.conf
/conf/plugins/*.tmp
/conf/strongswan.conf.5
/conf/strongswan.conf.5.head
/conf/strongswan.conf.5.tail

/man/ipsec.conf.5
/man/ipsec.secrets.5

/src/_copyright/_copyright
/src/_updown/_updown
/src/charon/charon
/src/charon-cmd/charon-cmd
/src/charon-cmd/charon-cmd.8
/src/dumm/ext/extconf.rb
/src/ipsec/_ipsec
/src/ipsec/_ipsec.8
/src/libcharon/plugins/duplicheck/duplicheck
/src/libcharon/plugins/load_tester/load-tester
/src/libcharon/plugins/whitelist/whitelist
/src/pki/man/pki*.1
/src/pki/pki
/src/pool/pool
/src/scepclient/scepclient
/src/stroke/stroke
/src/starter/starter
/src/swanctl/swanctl.8
/src/swanctl/swanctl.conf.5.head
/src/swanctl/swanctl.conf.5.tail