*.a
*.la
*.lo
*.so
*.o
.deps/
.dirstamp
.libs/
Makefile
Makefile.in

/include/xtables-version.h
/include/iptables/internal.h

/iptables/iptables-apply.8
/iptables/iptables-restore.8
/iptables/iptables-save.8
/iptables/iptables-xml.1

/aclocal.m4
/autom4te.cache/
/build-aux/
/config.*
/configure
/libtool
/stamp-h1
