*.pyc
*.pyo
*.pyd
/Makefile
/Makefile.pre
Misc/python-config.sh
Misc/python.pc
Modules/Setup
Modules/Setup.config
Modules/Setup.local
Modules/config.c
Modules/ld_so_aix
build/
libpython*.so*
libpython*.a
pybuilddir.txt
pyconfig.h
pysysconfigdatadir.txt
/python
python-config
python-config.py
python-gdb.py
