Kbuild
Config.in
!/Config.in
.config
.config.old
.tag.config
.tag.oldconfig
.kernelrelease
.kconfig.d
busybox*

applets/applet_tables
applets/usage
applets/usage_pod

docs/busybox.1
docs/busybox.net
docs/BusyBox.html
docs/BusyBox.pod
docs/BusyBox.txt

include/applets.h
include/applet_tables.h
include/autoconf.h
include/bbconfigopts_bz2.h
include/bbconfigopts.h
include/NUM_APPLETS.h
include/usage_compressed.h
include/usage.h
include/config

scripts/basic/docproc
scripts/basic/fixdep
scripts/basic/hash
scripts/basic/split-include
scripts/kconfig/conf
scripts/kconfig/mconf
scripts/kconfig/qconf
scripts/kconfig/gconf
scripts/kconfig/kxgettext
scripts/kconfig/config*
scripts/kconfig/lex.*.c
scripts/kconfig/*.tab.c
scripts/kconfig/*.tab.h
scripts/kconfig/zconf.hash.c
scripts/kconfig/*.moc
scripts/kconfig/lkc_defs.h
scripts/kconfig/lxdialog/lxdialog

shell/hush_test/*.fail
shell/hush_test/*.xx
shell/hush_test/hush