.deps
.libs
.svn
*.o
*.d
!*.d/
*.oo
*.lo
*.la
*.a
*.cmd
*.dd
*.log
config.status
libtool

# Ignore some build directories
/image
/p_section
/rootfs/digi
/rootfs/root
/rootfs/src/var/
/rootfs/src/include/csid
/rootfs/src/include/unilog.h

!linux/src/include/config/auto.conf.cmd
!rootfs/src/mipsel-linux-uclibc-lib/libuvm.a
!busybox/src/examples/bootfloppy/etc/init.d
