.wizard-content {
  padding-bottom: $spacing-unit;
}
.wizard-buttons-wrapper {
  @include clearfix;
  padding: $spacing-unit;
  background: $light-gray;
}
.wizard-buttons {
  float: right;
  button {
    margin-left: $spacing-unit;
  }
  .back {
    i {
      padding-right: 5px;
    }
  }
  .next {
    i {
      padding-left: 5px;
    }
  }
}
