h1 {
  color: $black;
  font-size: $h1-font-size;
}
h2, h3 {
  color: $secondarycolor;
  font-weight: 600;
  text-transform: uppercase;
}
h2 {
  margin: $spacing-unit 0;
  font-size: $h2-font-size;
}
h3 {
  font-size: $h3-font-size;
}
h4, h5, title, table th {
  color: $black;
  font-size: $h4-font-size;
  font-weight: 600;
  text-transform: uppercase;
}
h5 {
  margin-bottom: ($spacing-unit/4);
}

a {
  color: $link;
  &:hover {
    color: $hover;
    transition:all ease 1s;
    text-decoration: none;
  }
}
.bold {
  font-weight: 600;
}
span.neutral {
  color: $base-font-color;
}
.error {
  color: $error;
}